/* ANIMATIONS */

@keyframes left_to_center {
    from {
        transform: translateX(-1000px);
    }to {
        transform: translateX(0);
    }
}

@keyframes right_to_center {
    from {
        transform: translateX(1000px);
    }to {
        transform: translateX(0);
    }
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }50% {
        opacity: 1;
    }to {
        transform: translateY(-900px) rotate(960deg);
    }
}