/* ANIMATIONS */

@keyframes left_to_center {
    from {
        transform: translateX(-1000px);
    }to {
        transform: translateX(0);
    }
}

@keyframes right_to_center {
    from {
        transform: translateX(1000px);
    }to {
        transform: translateX(0);
    }
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(0);
    }8% {
        opacity: 0;
    }50% {
        opacity: 1;
    }100% {
        transform: translateY(-1300px) rotate(960deg);
    }
}