#contact-section {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-color);
    padding: 0 100px;
}

#contact-section .content-container {
    margin-bottom: 30px;
}

#contact-section .image-container, .contact-form {
    display: flex;
    flex-direction: column;
}

#social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.social-media {
    margin-right: 30px;
}

.social-media i {
    font-size: 30px;
    transition: all 0.2s ease-out;
}

#contact-section .text-container {
    display: flex;
    flex-direction: column;
}

#contact-section .text-container h2{
    font-size: 40px;
    font-weight: 800;
    color: white;
    margin-bottom: 50px;
}

.contact-form input, #message-textarea {
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #2B2B2C;
    color: white;
}

.contact-form input {
    height: 30px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    padding-left: 10px;
}

#name-input, #email-input {
    width: 60%;
}

#submit-input {
    width: 30%;
}

#message-textarea {
    width: 80%;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
}

.social-media i:hover {
    transform: scale(1.4);
}

#submit-input:hover {
    background-color: #1A1A1A;
    cursor: pointer;
}

#social-medias > div:nth-child(1) > a > i {
    color: white;
}

#social-medias > div:nth-child(2) > a > i {
    color: #1877f2;
}

#social-medias > div:nth-child(3) > a > i {
    color: #c13584
}

#social-medias > div:nth-child(4) > a > i {
    color: #25D366;
}