#contact-section {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-color);
    padding: 0 100px;
}

#contact-section .image-container {
    display: flex;
    flex-direction: column;
}

#social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.social-media {
    margin-right: 30px;
}

.social-media i {
    font-size: 30px;
    color: var(--pink-color);
}

.social-media i:hover {
    transform: scale(1.1);
}