/* RESET */

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --dark-color: #121214;
    --pink-color: #EF476F;
    --blue-color: #2EC4B6;
    --gray-color: rgb(173, 173, 173);
}

main {
    overflow: hidden;
    background-color: var(--dark-color);
}