/* RESET */

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --dark-color: #121214;
    --pink-color: #EF476F;
    --blue-color: #2EC4B6;
    --green-color: #06D6A0; 
}

main {
    overflow: hidden;
}