@import url("reset.css");
@import url("animation.css");

/* WELCOME */

main {
    overflow: hidden;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    overflow: hidden;
    z-index: -1;
}

#text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: white;
    text-align: center;
    animation: left_to_center 0.5s ease-out;
}

.highlight {
    color: var(--pink-color);
    font-weight: 600;
}

#button {
    width: 210px;
    height: 52px;
    margin-top: 20px;
    border: 2px solid white;
    transition: all 0.2s ease-out;
    animation: right_to_center 0.5s ease-out;
}

#button a, #button a:active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.fa-arrow-right {
    color: white;
    transition: all 0.2s ease-out;
}

#button:hover {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    cursor: pointer;
}

#button:hover .fa-arrow-right {
    transform: rotate(90deg);
}

/* SQUARES */

.squares {
    position: relative;
    z-index: 1;
}

.squares li {
    display: block;
    position: absolute;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255, 0.15);
    animation: up 2s infinite alternate;
}


/* ABOUT */

#about-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--pink-color);
    overflow: hidden;
    z-index: 1;
}